@import 'normolize'
@import 'elements'
@import 'header'

.main
    text-align: center
    h1

    &__vid
        max-width: 45%
        margin: 0 auto
        display: block

    hr
        width: 100%
        max-width: 45%
        margin: 0 auto
        height: 1px
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 49.5495%, rgba(255, 255, 255, 0) 100%)

    h1
        font-family: 'quantum', sans-serif
        font-weight: normal
        text-transform: uppercase
        line-height: 1.2em
        margin: 20px 0
        font-size: 73px

    p
        font-family: "Sora", sans-serif
        font-optical-sizing: auto
        font-weight: 100
        font-style: normal
        line-height: 1.2em
        opacity: .7
        margin: 0 0 10px

    &__descr
        font-size: 34px

    &__text
        font-size: 21px
